* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
}

body {
    background-image: url("images/macos.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#doc {
    position: fixed;
    /*background-color: red;*/
    width: 60%;
    left: 20%;
    bottom: 20px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 50%, 40%);
}

.doc-icon {
    width: 50px;
    transition: transform 0.5s;
}

.doc-icon:hover {
    transform: scale(1.2) translateY(-30px);
}
